<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="viggo">
    <title>JDR-井大人导航</title>
    <meta name="keywords" content="微井大，井冈山大学,井冈山大学官网,井冈山大学导航,井冈山大教务系统">
    <meta name="description" content="新媒体百宝箱-新媒体工作者快捷工具导航">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/common/popwin.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>